
:root {
  --yellow: #F8A931;
  --dark-brown: #320B00;
  --light-brown: #553122;
  --pink: #FFD495;
}

*, html {
  margin: 0;
}

/*Navbar*/

.navbar {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navbar-logo {
  height: auto;
  width: 30%;
}

/*Footer:::*/

a {
  text-decoration: none;
  
}

a, footer {
  color: var(--light-brown);
  font-family: 'ClearSans-Bold';
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--yellow);
  position: relative;
  padding: 15px;
}

footer img {
  width: 142px;
  height: 132px;
}

