:root {
    --yellow: #F8A931;
    --dark-brown: #320B00;
    --light-brown: #553122;
    --pink: #FFD495;
}

*, html {
    margin: 0;
}

/*      NAVBAR      */
.navbar {
    align-items: center;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    padding: 5px;
}

.navbar-logo-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar-icon-container {
    display: flex;
    flex-grow: 1 ;
    justify-content: flex-end;
    margin-right: 10%;
}

.navbar-logo {
    height: auto;
    width: 25%;
}

.navbar-menu-icon {
    color: var(--dark-brown);
    font-size: 2.5em;
    /* margin-left: 30%; */

}