:root {
    --yellow: #F8A931;
    --dark-brown: #320B00;
    --light-brown: #553122;
    --pink: #FFD495;
}

*, html {
    margin: 0;
}

/*      NAVBAR      */
.navbar {
    align-items: center;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    padding: 0.6em;
}

.navbar-logo-container {
    display: flex;
    flex-grow: 2;
    justify-content: center !important;
    margin-left: 22.5%;
}

.navbar-icon-container {
    justify-content: flex-end;
    margin-right: 10%;
    visibility: hidden; /* retirar quando houver outras páginas */
}

.navbar-logo {
    height: auto;
    width: 35%;
}

.navbar-menu-icon {
    color: var(--dark-brown);
    font-size: 2.5em;
    visibility: hidden;
}

.navbar-menu {
    font-size: 0.8em;
    height: 0;
    width: 0;
}

/* MEDIA QUERY DA NAVBAR: */
@media (min-width: 768px) {

    .navbar {
        align-items: center;
        background-color: var(--yellow);
        display: flex;
        padding: 0.4em;
    }
    
    .navbar-logo-container {
        flex-grow: 2;
        justify-content: flex-start !important;
        margin-left: 5%;
    }

    .navbar-logo {
        height: auto;
        width: 9%;
    }

    .navbar-menu-icon {
        visibility: hidden;
    }
}

@media (min-width: 900px) {
    .navbar-logo {
        height: auto;
        width: 7.5%;
    }
}